McsGuiDemoProjects/McsGui_Demo_1_KeyNav/.settings
McsGuiDemoProjects/McsGui_Demo_1_KeyNav/Debug

McsGuiDemoProjects/McsGui_Demo_2_Touch/.settings
McsGuiDemoProjects/McsGui_Demo_2_Touch/Debug

McsGuiDemoProjects/McsGui_Demo_3_Touch/.settings
McsGuiDemoProjects/McsGui_Demo_3_Touch/Debug

McsGuiDemoProjects/McsGui_Demo_4_KeyNav/.settings
McsGuiDemoProjects/McsGui_Demo_4_KeyNav/Debug

McsGuiDemoProjects/McsGuiLib/.settings
McsGuiDemoProjects/McsGuiLib/Debug

McsGuiDemoProjects/Gui_Image_Projects/McsGui_Demo_1_2/imports/bmps/_bmp_tool
McsGuiDemoProjects/Gui_Image_Projects/McsGui_Demo_1_2/imports/fonts

McsGuiDemoProjects/Gui_Image_Projects/McsGui_Demo_3/imports/bmps/_bmp_tool
McsGuiDemoProjects/Gui_Image_Projects/McsGui_Demo_3/imports/fonts

McsGuiDemoProjects/Gui_Image_Projects/McsGui_Demo_4/imports/bmps/_bmp_tool
McsGuiDemoProjects/Gui_Image_Projects/McsGui_Demo_4/imports/fonts
