McsGuiDemoProjects/McsGui_Demo_4_KeyNav

McsGuiDemoProjects/McsGui_Demo_1_KeyNav/.settings
McsGuiDemoProjects/McsGui_Demo_1_KeyNav/Debug

McsGuiDemoProjects/McsGui_Demo_2_Touch/.settings
McsGuiDemoProjects/McsGui_Demo_2_Touch/Debug

McsGuiDemoProjects/McsGui_Demo_3_Touch/.settings
McsGuiDemoProjects/McsGui_Demo_3_Touch/Debug

McsGuiDemoProjects/McsGuiLib/.settings
McsGuiDemoProjects/McsGuiLib/Debug